/* Estilos gerais do corpo */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Fundo escuro transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  background-color: #333;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #feab3d;
}

.level-selection {
  margin-bottom: 20px;
}

.level-button {
  background-color: #398fe6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.level-button:hover {
  background-color: #d58c33;
}

.game-board {
  display: grid;
  justify-content: center;
  gap: 5px; /* Ajusta o espaçamento entre as cartas */
}

.card {
  width: 50px; /* Largura das cartas */
  height: 50px; 
  background-color: #1a1919;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; 
  color: transparent;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card.flipped {
  background-color: #feab3d;
  color: #fff; 
}

.card.flipped .card-inner {
  transform: rotateY(0deg); 
}

.card-inner {
  transform: rotateY(180deg); 
  backface-visibility: hidden; 
}

.card.matched {
  background-color: #4caf50;
  cursor: default;
}

.header {
  background-color: #007bff;
  padding: 20px 0;
  border-top: 5px solid #ffffff; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.header h1 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  color: #f8f9fa;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* Estilo do rodapé */
.footer {
  background-color: #191a1a;
  color: #f8f9fa; 
  text-align: center; 
  padding: 20px 0;
  border-top: 5px solid #007bff;
  font-size: 14px;
  width: 100%;
}
